## Data cleaning project

This mini project heavily focuses on the data cleaning aspect! The datasets used can be found [here](https://www.kaggle.com/momanyc/museum-collection). As a data scientist,not all the data we encounter comes in a consistent format.We often need to prepare the data for analyis called **data cleaning** ( This project is a "Work in Progress")

Description of the dataset:

`Title`: The title of the artwork.

`Artist`: The name of the artist who created the artwork.

`Nationality`: The nationality of the artist.

`BeginDate`: The year in which the artist was born.

`EndDate`: The year in which the artist died.

`Gender`: The gender of the artist.

`Date`: The date that the artwork was created.

`Department`: The department inside MoMA to which the artwork belongs.

Helper Functions:

parenthesis () - Removes `(`, `)` from the list

frequency_table() - Creates a dictionary with their frequency

In [180]:
opened_file = open('artworks.csv',encoding='utf8')
from csv import reader
read_file = reader(opened_file)
moma = list(read_file)

In [181]:
#Evaluating the number of records available in the dataset
print("Number of records : ",len(moma))

#Undertadning the data
print("Header of the dataset", moma[0], "\n")
print(moma[1],"\n")

Number of records :  16726
Header of the dataset ['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender', 'Date', 'Department']

['Dress MacLeod from Tartan Sets', 'Sarah Charlesworth', '(American)', '(1947)', '(2013)', '(Female)', '1986', 'Prints & Illustrated Books']

Looking at the dataset, we can see that **Nationality** , **BeginDate** , **EndDate** and **Gender** have parenthesis wrapped up! Lets clean the columns which has strings wrapped up in `(` and `)`

In [182]:
# Function to remove parenthesis 
def parenthesis(row_number):
    for x in moma[1:]:
        row_name = x[row_number]
        row_name = row_name.replace("(","")
        row_name = row_name.replace(")","")
        x[row_number] = row_name

In [183]:
nationality = parenthesis(2)
b = parenthesis(3)
e = parenthesis(4)
gender = parenthesis(5)

for data in moma[:5]:
    print(data, "\n")

['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender', 'Date', 'Department']

['Dress MacLeod from Tartan Sets', 'Sarah Charlesworth', 'American', '1947', '2013', 'Female', '1986', 'Prints & Illustrated Books']

['Duplicate of plate from folio 11 verso (supplementary suite, plate 4) from ARDICIA', 'Pablo Palazuelo', 'Spanish', '1916', '2007', 'Male', '1978', 'Prints & Illustrated Books']

['Tailpiece (page 55) from SAGESSE', 'Maurice Denis', 'French', '1870', '1943', 'Male', '1889-1911', 'Prints & Illustrated Books']

['Headpiece (page 129) from LIVRET DE FOLASTRIES, Ã€ JANOT PARISIEN', 'Aristide Maillol', 'French', '1861', '1944', 'Male', '1927-1940', 'Prints & Illustrated Books']

In [184]:
# Function to create frequency table
def frequency_table(row_number):
    empty_dict = {}
    for x in moma[1:]:
        row_name = x[row_number]
        if row_name in empty_dict:
            empty_dict[row_name] += 1
        else:
            empty_dict[row_name] = 1
    return empty_dict

Understanding the distribution of gender in the dataset

In [185]:
gender_ration = frequency_table(5)
print(gender_ration)

print(frequency_table(2))

{'Female': 2443, 'Male': 13490, '': 791, 'male': 1}
{'American': 7444, 'Spanish': 343, 'French': 3042, 'South African': 45, 'Canadian': 113, 'Czech': 115, 'Belgian': 190, 'Russian': 274, 'British': 748, 'German': 1141, '': 491, 'Swiss': 270, 'Polish': 79, 'Japanese': 299, 'Portuguese': 27, 'Austrian': 100, 'Australian': 46, 'Italian': 405, 'Chilean': 77, 'Colombian': 107, 'Mexican': 169, 'Brazilian': 102, 'Dutch': 203, 'Romanian': 10, 'Venezuelan': 57, 'Korean': 17, 'Israeli': 52, 'Argentine': 82, 'Indian': 34, 'Nationality unknown': 56, 'Swedish': 32, 'Yugoslav': 15, 'Cuban': 36, 'Nationality Unknown': 80, 'Various': 70, 'Luxembourgish': 5, 'Croatian': 27, 'Bulgarian': 2, 'Hungarian': 24, 'Georgian': 6, 'Puerto Rican': 1, 'Danish': 67, 'Serbian': 1, 'Pakistani': 5, 'Ecuadorian': 3, 'Chinese': 26, 'Iranian': 4, 'Finnish': 32, 'Lebanese': 1, 'Thai': 5, 'Cambodian': 1, 'Scottish': 16, 'Kenyan': 1, 'Latvian': 5, 'Sudanese': 3, 'Uruguayan': 8, 'Peruvian': 15, 'New Zealander': 3, 'Moroccan': 2, 'Guatemalan': 11, 'Cameroonian': 3, 'Egyptian': 5, 'Nigerian': 2, 'Icelandic': 2, 'Haitian': 4, 'Tajik': 1, 'Irish': 6, 'Norwegian': 13, 'Costa Rican': 8, 'Slovenian': 2, 'Turkish': 5, 'Mozambican': 1, 'Palestinian': 1, 'Ukrainian': 5, 'Angolan': 1, 'Tunisian': 1, 'Greek': 7, 'Zimbabwean': 3, 'Bahamian': 1, 'Vietnamese': 2, 'Panamanian': 2, 'Canadian Inuit': 2, 'Malian': 2, 'Filipino': 1}

We use from the above analysis that there are missing values in Gender and the use of lowercase of `male` making in another type of data. We solve this is error by subsituting the missing values with **Unknown/Other** and converting the string of `male` to title form using `.title()`

In [186]:
for row in moma[1:]:
    gender = row[5]
    gender = gender.title()
    if not gender:
        gender = "Gender Unknown/Other"
    row[5] = gender

    nationality = row[2]
    nationality = nationality.title()
    if not nationality:
        nationality = "Nationality Unknown"
    row[2] = nationality

In [187]:
print(frequency_table(2))

{'American': 7444, 'Spanish': 343, 'French': 3042, 'South African': 45, 'Canadian': 113, 'Czech': 115, 'Belgian': 190, 'Russian': 274, 'British': 748, 'German': 1141, 'Nationality Unknown': 627, 'Swiss': 270, 'Polish': 79, 'Japanese': 299, 'Portuguese': 27, 'Austrian': 100, 'Australian': 46, 'Italian': 405, 'Chilean': 77, 'Colombian': 107, 'Mexican': 169, 'Brazilian': 102, 'Dutch': 203, 'Romanian': 10, 'Venezuelan': 57, 'Korean': 17, 'Israeli': 52, 'Argentine': 82, 'Indian': 34, 'Swedish': 32, 'Yugoslav': 15, 'Cuban': 36, 'Various': 70, 'Luxembourgish': 5, 'Croatian': 27, 'Bulgarian': 2, 'Hungarian': 24, 'Georgian': 6, 'Puerto Rican': 1, 'Danish': 67, 'Serbian': 1, 'Pakistani': 5, 'Ecuadorian': 3, 'Chinese': 26, 'Iranian': 4, 'Finnish': 32, 'Lebanese': 1, 'Thai': 5, 'Cambodian': 1, 'Scottish': 16, 'Kenyan': 1, 'Latvian': 5, 'Sudanese': 3, 'Uruguayan': 8, 'Peruvian': 15, 'New Zealander': 3, 'Moroccan': 2, 'Guatemalan': 11, 'Cameroonian': 3, 'Egyptian': 5, 'Nigerian': 2, 'Icelandic': 2, 'Haitian': 4, 'Tajik': 1, 'Irish': 6, 'Norwegian': 13, 'Costa Rican': 8, 'Slovenian': 2, 'Turkish': 5, 'Mozambican': 1, 'Palestinian': 1, 'Ukrainian': 5, 'Angolan': 1, 'Tunisian': 1, 'Greek': 7, 'Zimbabwean': 3, 'Bahamian': 1, 'Vietnamese': 2, 'Panamanian': 2, 'Canadian Inuit': 2, 'Malian': 2, 'Filipino': 1}

In [188]:
print(frequency_table(5))

{'Female': 2443, 'Male': 13491, 'Gender Unknown/Other': 791}

In [189]:
print(moma[1])

['Dress MacLeod from Tartan Sets', 'Sarah Charlesworth', 'American', '1947', '2013', 'Female', '1986', 'Prints & Illustrated Books']

In [190]:
def clean_and_convert(date):
    if date != "":  
        date = int(date)
    return date
for row in moma[1:]:
    birth_date = row[3]
    death_date = row[4]
    
    birth_date = clean_and_convert(birth_date)
    death_date = clean_and_convert(death_date)
    
    row[3] = birth_date
    row[4] = death_date

In [191]:
print(moma[1])

['Dress MacLeod from Tartan Sets', 'Sarah Charlesworth', 'American', 1947, 2013, 'Female', '1986', 'Prints & Illustrated Books']

In [197]:
print(frequency_table(6))

{1986: 113, 1978: 143, 1900: 151, 1934: 198, 1903: 32, 1957: 99, 1924: 206, 1980: 180, 2001: 151, 1941: 83, 1950: 203, 1963: 219, 1910: 97, 1997: 100, 1932: 152, 1972: 240, 1967: 319, 1979: 136, 1926: 203, 1929: 146, 1974: 195, 1925: 178, 1915: 55, 1912: 104, 1989: 107, 1964: 289, 1968: 268, 1969: 196, 1953: 105, 1971: 218, 1988: 138, 1818: 49, 2002: 150, 1914: 84, 1966: 291, 1904: 47, 1949: 219, 1981: 122, 1970: 305, 1928: 211, 1965: 279, 2003: 213, 1983: 124, 1930: 265, 1946: 175, 1984: 188, 2006: 98, 1885: 17, 1942: 135, 1913: 103, 2015: 31, 1987: 109, 1948: 197, 1961: 155, 1962: 241, 1944: 166, 1991: 136, 1992: 145, 2008: 101, 1975: 122, 1893: 42, 1955: 84, 1958: 138, 1922: 209, 1916: 67, 2012: 65, 1865: 14, 1976: 215, 1902: 95, 2010: 63, 1875: 25, 1990: 178, 1921: 104, 2004: 169, 1973: 226, 1982: 159, 1960: 167, 1939: 94, 1952: 133, 2007: 104, 1940: 177, 1995: 122, 1908: 64, 1936: 167, 2005: 139, 1933: 88, 1956: 100, 1920: 153, 1919: 54, 1905: 47, 1918: 77, 1907: 54, 1999: 127, 2011: 54, 1951: 150, 1937: 111, 1927: 118, 2013: 68, 1998: 150, 2000: 127, 2009: 88, 1917: 78, 1861: 5, 1877: 4, 1881: 3, 1954: 101, 1994: 133, 1977: 159, 1947: 110, 1938: 152, 1996: 124, 1943: 75, 1935: 114, 1857: 23, 1931: 174, 1959: 152, 1993: 86, 1985: 93, 1923: 106, 1945: 97, 1909: 40, 1898: 64, 1911: 69, 1899: 41, 1894: 37, 1887: 4, 1873: 22, 1860: 39, 1901: 58, 2014: 31, 1859: 19, 1845: 18, 1864: 14, 1874: 21, 1906: 52, 1897: 13, 1871: 7, 1895: 22, 1888: 13, 2016: 40, 1840: 1, 1868: 7, 1856: 11, 1836: 4, 1852: 2, 1889: 3, 1846: 7, 1896: 17, 1854: 24, 1863: 5, 1855: 3, 1798: 16, 1882: 2, 2017: 16, 1850: 9, 1891: 7, 1869: 9, 1890: 14, 1876: 12, 1892: 8, 1853: 3, 1872: 8, 1862: 2, 1858: 7, 1805: 1, 2018: 1, 1811: 1, 1851: 1, 1826: 3, 1883: 1, 1844: 2, 1884: 3, 1832: 1, 1837: 1, 1870: 3, 1866: 2, 1878: 1, 1880: 4, 1849: 1, 1886: 1}

Taking a glance at the 'Date' column, we see it has different types of bad characterts. We create a list of these bad characters and loop through a list in the `moma` dataset to get partial cleaned data for now

In [194]:
bad_chars = ["(",")","c","C",".","s","'", " "]
def strip_characters(string):
    for x in bad_chars:
        string = string.replace(x,"")
    return string

for x in moma[1:]:
    date = x[-2]
    date = strip_characters(date)
    x[-2] = date

We see after cleaning our date column, there are two types of date range 
    1. The actual date
    2. A range of two years
    
The approach taken for the date range to ensure for futher analysis without removing those rows is to average the data range

In [196]:
def process_date(date):
    if '-' in date:
        date = date.split('-')
        date = (int(date[0]) + int(date[1]))/2
        date = round(date)
    else:
        date = int(date)
    return date

for x in moma[1:]:
    date = x[-2]
    date = process_date(date)
    x[-2] = date

In [198]:
for x in moma[1:10]:
    print(x ,"\n")

['Dress MacLeod from Tartan Sets', 'Sarah Charlesworth', 'American', 1947, 2013, 'Female', 1986, 'Prints & Illustrated Books']

['Duplicate of plate from folio 11 verso (supplementary suite, plate 4) from ARDICIA', 'Pablo Palazuelo', 'Spanish', 1916, 2007, 'Male', 1978, 'Prints & Illustrated Books']

['Tailpiece (page 55) from SAGESSE', 'Maurice Denis', 'French', 1870, 1943, 'Male', 1900, 'Prints & Illustrated Books']

['Headpiece (page 129) from LIVRET DE FOLASTRIES, Ã€ JANOT PARISIEN', 'Aristide Maillol', 'French', 1861, 1944, 'Male', 1934, 'Prints & Illustrated Books']

['97 rue du Bac', 'EugÃ¨ne Atget', 'French', 1857, 1927, 'Male', 1903, 'Photography']

['Pictorial ornament (folio 11) from WOODCUTS', 'Antonio Frasconi', 'American', 1919, 2013, 'Male', 1957, 'Prints & Illustrated Books']

["Rue de l'HÃ´tel-de-Ville", 'EugÃ¨ne Atget', 'French', 1857, 1927, 'Male', 1924, 'Photography']

['Los Angeles Airport', 'Garry Winogrand', 'American', 1928, 1984, 'Male', 1980, 'Photography']

['Why Defy from Disasters of Peace', 'Diane Victor', 'South African', 1964, '', 'Female', 2001, 'Prints & Illustrated Books']